body {
	font-family: "Roboto";	
	background-color: #629d97;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	color: #4d58b6;
}

#weatherBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #4DB6AC;
	border-radius: 5px;
 	width: 30%;
 	height: 30%;
}

#weatherIcon {
	height: 4em;
	width: 4em;
	margin-bottom: -1em;
}

#temperatureBox {
	font-size: 2em;
}

#unitBox {
	font-size: 1em;
	margin-bottom: -1em;
}

#location {
	font-size: 1em;
}

.footer {
  font-size: 1em;
  color: #4d58b6;
}
.footer a {
  font-weight:800;
  color:  #4d58b6;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
  color:black;
}